<ul
  class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
  id="accordionSidebar"
>
  <!-- Sidebar - Brand -->
  <a
    class="sidebar-brand d-flex align-items-center justify-content-center"
    href="/admin/dashboard"
  >
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fas fa-book"></i>
    </div>
    <div class="sidebar-brand-text mx-3">MTK App</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0" />

  <li class="nav-item">
    <a class="nav-link" href="/admin/dashboard">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a
    >
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider" />
  <!-- Heading -->
  <div class="sidebar-heading">Data</div>

  <li class="nav-item">
    <a class="nav-link" href="/admin/materi">
      <i class="fas fa-fw fa-list-alt"></i>
      <span>Materi</span></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/latihan">
      <i class="fas fa-fw fa-list-alt"></i>
      <span>Latihan</span></a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/admin/quiz">
      <i class="fas fa-fw fa-list-alt"></i>
      <span>Quiz</span></a
    >
  </li>

  <hr class="sidebar-divider" />
  <div class="sidebar-heading">User</div>

  <li class="nav-item">
    <a class="nav-link" href="/admin/user">
      <i class="fas fa-fw fa-list-alt"></i>
      <span>Setting User</span></a
    >
  </li>

  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>
